<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Composition</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label>Enter compisition name</label><br />
        <input type="text" name="name"><br /><br />
        <label>Attach a file</label><br />
        <input type="file" name="file"><br /><br />
        <input type="submit" name="button">
    </form>
</body>
</html>